@import "../../../styles/settings.scss";
@import "../../../styles/global.scss";

* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  @media (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    height: auto;
  }
}
.banerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  @media (max-width: 800px) {
    padding: 35px 35px 0 35px;
  }

  h4 {
    @media (max-width: 500px) {
      font-size: 1.3rem;
    }
  }
  h1 {
    span {
      color: $base-red;
    }
  }
  .bannerTitle {
    font-size: 3rem;
    @media (max-width: 500px) {
      font-size: 2.3rem;
    }
  }
  .btnDiv {
    display: flex;

    button {
      font-weight: 800;

      padding: 15px 25px;
      font-size: 1.2rem;
      border: none;
      color: $white;
      @media (max-width: 500px) {
        font-size: 1rem;
        padding: 5px 10px;
        display: inline-block;
      }
    }

    @media (max-width: 1000px) {
      justify-content: space-around;
    }

    .btnBook {
      background-color: $base-red;
    }
    .btnLern {
      background-color: $base-black;
    }
  }
}

.banerImage {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 500px) {
    transform: scale(0.6);
  }
}
