@import "../../../styles/settings.scss";
@import "../../../styles/global.scss";

.bookContainer {
  padding: 70px 0;
  border-bottom: 2px solid #d2dae2;
}
.btnBook {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    // padding: 10px 20px;
    width: 100%;
    height: 50%;
    margin-top: 30px;
    background-color: $base-red;
    border: none;
    color: $white;
  }
}
