@import "../../../styles/settings.scss";
@import "../../../styles/global.scss";

.container {
  padding: 70px 0;
  border-bottom: 2px solid #d2dae2;

  .faqTitle {
    text-align: center;
    h3 {
      font-weight: 900;
    }
  }
}
