@import "../../../styles/settings.scss";
@import "../../../styles/global.scss";

.modelContainer {
  padding: 70px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .modelsTitle {
    text-align: center;
    h3 {
      font-weight: 800;
    }
  }

  .reservedBtn {
    background-color: $base-red;
    color: $white;
    font-weight: 900;
    padding: 5px 10px;
    font-size: 1.2rem;
    border: none;
    text-align: center;
    text-decoration: none;
    min-width: 150px;
  }
  .modelInfo {
    padding: 25px 0;
  }
  .modelDetail {
    text-align: center;
    align-items: center;
    justify-content: center;

    .switchCarBtn {
      border: none;
      background-color: transparent;
      font-size: 1.5rem;
      width: 200px;
      padding: 10px 20px;

      &:hover {
        background-color: $base-red;
        color: $white;
      }
      &:focus {
        background-color: $base-red;
        color: $white;
      }
    }

    .modelImg {
      display: flex;
      transform: scale(0.8);
      justify-content: center;
      align-items: center;

      @media (max-width: 500px) {
        img {
          transform: scale(0.6);
        }
      }
    }

    .modelInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .modelPrice {
      background-color: $base-red;
      color: $white;
      max-width: 80%;
      h5 {
        font-size: 1.5rem;
      }
      span {
        font-weight: 800;
        font-size: 2rem;
        margin-right: 15px;
      }
    }

    .modelSpec {
      display: flex;
      justify-content: center;

      div {
        border: 1px solid $base-black;
        padding: 5px 5px;
        min-width: 40%;
      }
    }
  }
}
