@import "../../../styles/settings.scss";
@import "../../../styles/global.scss";

.navLogo {
  color: $base-red;
  font-size: 4rem;
}
.navTitle {
  color: $base-black;
  display: flex;
  flex-direction: column;

  .spanRent {
    font-weight: 900;
    color: $base-red;
  }
  .spanCar {
    letter-spacing: 0.4rem;
  }
}
.navLink {
  a {
    font-size: 1.2rem;
    color: $base-black;
    text-decoration: none;
    margin: 0 1rem;
    // transition: 1s linear;

    &:hover {
      color: $base-red;
      font-weight: 700;
      border-bottom: 3px solid $base-red;
    }
  }
}

.navBnt {
  font-size: 1rem;
  .loginBnt,
  .registerBnt {
    padding: 15px 25px;
    font-weight: 800;
    border: none;
    background-color: transparent;
    text-decoration: none;
  }
  .loginBnt {
    color: $base-red;
  }
  .registerBnt {
    background-color: $base-red;
    color: white;
  }
}

.btnMobileMenu {
  color: $base-red;
  font-size: 2rem;
  background-color: transparent;
  padding: 6px 10px;
  border-radius: 10px;
  border-color: $base-red;
}

.mobileMenu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: 1px solid $base-red;

  a {
    display: block;
    padding: 5px 0;
    background-color: white;
    text-align: center;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid $base-red;

    &:hover {
      color: $base-red;
    }
  }
}
