@import "../../../styles/settings.scss";
@import "../../../styles/global.scss";

.detailContainer {
  padding: 70px 0;
  border-bottom: 2px solid #d2dae2;

  .titleDiv {
    background-color: black;
  }
}
